<form action="/cryptids" method="POST">
  
    <!-- name is the key that this data will enter our app at; it should match up to the fields we want to save on our dino -->
    <label for="cryptoName">Name</label>
    <input id="cryptoName" type="text" name="name">
  
    <label for="cryptoType">Type</label>
    <input id="cryptoType" type="text" name="type">
  
    <input type="submit">
  </form>